@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, retro, valentine, cyberpunk, aqua;
}
* {
  box-sizing: border-box;
}
body {
  margin: auto;
  max-width: 1400px;
}
h2 {
  margin-block: 5px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: large;
}
